<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
     <title>Ihre Bestellung wurde versandt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        h1 {
            color: #4CAF50;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 0.5em;
        }
        strong {
            color: #555;
        }
        .artikel-liste li {
            background-color: #f9f9f9;
            border: 1px solid #eaeaea;
            padding: 10px;
            margin-bottom: 10px;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            text-align: center;
            color: #777;
        }
        .bestell-details {
            background-color: #f2f2f2;
            padding: 15px;
            border: 1px solid #eaeaea;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Bestellbestätigung</h1>
    <p>Liebe(r) {{name}},</p>
    <p>Vielen Dank für Ihren Einkauf!</p>
    <p>Wir möchten Ihnen mitteilen, dass Ihre Bestellung mit der Nummer {{orderNumber}} erfolgreich versandt wurde.</p>
    <div class="bestell-details">
        <p>Versanddetails:</p>
        <ul>
            <li>Versanddatum: {{shippingDate}}</li>
            <li>Versand dürch {{ womit }} {{ versandnr }}</li>
            <li>Lieferadresse:<p> {{ adresse.shipping_name}},</p>
            <p>{{adresse.postleitzahl}}  {{adresse.stadt}}</p>
            <p> {{adresse.strasse}} {{adresse.hausnummer}}.</p>
             <p>{{adresse.land}}</p>
            </li>
        </ul>
        <p>Vielen Dank für Ihren Einkauf bei uns!</p>
    </div>
    <p>Wenn Sie Fragen zu Ihrer Bestellung haben (nr: <b>{{orderNumber}}</b>), können Sie uns jederzeit kontaktieren.</p>
    <div class="footer">
        <p>Mit freundlichen Grüßen,</p>
        <p>Ihr {{unternehmensname}} Team</p>
    </div>
</body>
</html>
